/* ORIGINAL TASK PUPILS STARTED WITH
Full credit to code.org for task */
  
body {
  background: #ffa8ef;
}
h1{
  font-style: cursive;
  color: cyan;
  background-color: #8d1111;
}
p{
  font-style: italic;
  font-size: 15px;
  color: royalblue;
}
h3{
  font-style: fantasy;
  background-color: lemonchiffon;
}